# Project 1 - Room Booking App #
### Dhrov Subramanian & Yeggi Lee ###

## Creating the tables ##

1. users
2. venues
3. events
4. confirmedEvents

In [1]:
import sqlite3
import pandas as pd

db=sqlite3.connect("/Users/ylee/Desktop/sqlite/test.db")
# db=sqlite3.connect("/sqlite3/test.db")
cursor = db.cursor()

cursor.execute('''
    DROP TABLE IF EXISTS users''');
cursor.execute('''
    DROP TABLE IF EXISTS venues''');
cursor.execute('''
    DROP TABLE IF EXISTS events''');
cursor.execute('''
    DROP TABLE IF EXISTS confirmedEvents''');
cursor.execute('''
    DROP TABLE IF EXISTS Time''');

#Make email unique after testing please. 

cursor.execute('''
    CREATE TABLE users(
                       user_id INTEGER PRIMARY KEY, 
                       name TEXT,
                       phone TEXT, 
                       email TEXT UNIQUE, 
                       EID TEXT UNIQUE,
                       admin BOOLEAN)
''');

cursor.execute('''
    CREATE TABLE venues(
                        venue_id INTEGER PRIMARY KEY, 
                        bldg_code TEXT,
                        floor_num INTEGER,
                        room_num INTEGER, 
                        room_capacity INTEGER,
                        open_time TEXT,
                        close_time TEXT,
                        time_id INTEGER,
                        CONSTRAINT 
                             fk_events FOREIGN KEY (time_id) 
                             REFERENCES time(time_id))
''');

cursor.execute('''
    CREATE TABLE events(
                        event_id INTEGER PRIMARY KEY, 
                        name TEXT, 
                        description TEXT,  
                        expected_attendance INTEGER,
                        venue_id INTEGER,
                        event_owner INTEGER,
                        time_id INTEGER,
                        start_time TEXT,
                        CONSTRAINT 
                             fk_events FOREIGN KEY (time_id) 
                             REFERENCES time(time_id),
                        CONSTRAINT 
                            fk_venues FOREIGN KEY (venue_id) 
                            REFERENCES venues(venue_id),
                        CONSTRAINT 
                            fk_users FOREIGN KEY (event_owner) 
                            REFERENCES users(user_id))
                   
''');

cursor.execute('''
    CREATE TABLE confirmedEvents(
                                 confirmedEvents_id INTEGER PRIMARY KEY, 
                                 event_id INTEGER, user_id INTEGER,
                                 CONSTRAINT 
                                     fk_events FOREIGN KEY (event_id) 
                                     REFERENCES events(event_id),
                                 CONSTRAINT 
                                     fk_users FOREIGN KEY (user_id) 
                                     REFERENCES users(user_id))
''');

cursor.execute('''
    CREATE TABLE Time(
                       time_id INTEGER PRIMARY KEY, 
                       event_id INTEGER, 
                       venue_id INTEGER,
                       timeslot TEXT,
                         CONSTRAINT 
                             fk_events FOREIGN KEY (event_id) 
                             REFERENCES events(event_id),
                         CONSTRAINT 
                             fk_users FOREIGN KEY (venue_id) 
                             REFERENCES venue(venue_id))
''');

# cursor.execute('''
#     CREATE TABLE TimeSlots(
#                        time_id INTEGER PRIMARY KEY, 
#                        time_slots TIMESTAMP, 
#                        event_id INTEGER
#                        venue_id INTEGER,
#                         CONSTRAINT 
#                              fk_events FOREIGN KEY (event_id) 
#                              REFERENCES events(event_id),
#                         CONSTRAINT 
#                              fk_users FOREIGN KEY (venue_id) 
#                              REFERENCES venue(venue_id))
# ''');

db.commit()

In the section below, we're adding test subjects to check that the tables are working correctly.

In [2]:
import datetime
dob1 = datetime.date(1991, 1,1)

cursor.execute('''INSERT INTO users(name, phone, email, EID, admin)
                  VALUES(:name,:phone, :email, :EID, :admin)''',
                  {'name':'Joe', 'phone':'222-333-4444', 'email':'joe2@email.com', 'EID': 'ds39547','admin': 0 })

cursor.execute('''INSERT INTO users(name, phone, email, EID, admin)
                  VALUES(:name,:phone, :email, :EID, :admin)''',
                  {'name':'Jamie', 'phone':'111-111-111', 'email':'jamielee@email.com', 'EID': 'ds39548' ,'admin': 1})

cursor.execute('''INSERT INTO venues(bldg_code, floor_num, room_num, room_capacity, open_time, close_time)
                  VALUES(:bldg_code, :floor_num, :room_num, :room_capacity, :open_time, :close_time)''',
                  {'bldg_code':'PCL', 'floor_num':'3','room_num':'104', 'room_capacity':'30', 'open_time':'07:00', 'close_time':'21:00'})

In [3]:
#To print out all elements in the users table
for row in cursor.execute('''SELECT * FROM users'''):
    print(row)
    
for row in cursor.execute('''SELECT * FROM venues'''):
    print(row)
    
for row in cursor.execute('''SELECT * FROM events'''):
    print(row)

(1, 'Joe', '222-333-4444', 'joe2@email.com', 'ds39547', 0)
(2, 'Jamie', '111-111-111', 'jamielee@email.com', 'ds39548', 1)
(1, 'PCL', 3, 104, 30, '07:00', '21:00', None)

## Adding a user ## 

### Parameters: ###
1. **db**: database
2. **name**: name of the user
3. **phone**: phone of the user
4. **email**: email of the user (must be unique)
5. **EID**: EID of the user
6. **admin**: checks whether the user is an admin or not (0 = False, 1 = True)

### Sequence: ###
1. Using the user_id, the function fetches the information of that entry 
2. With that info, the function is able to determine if the user is an admin or not
3. If the user is an admin, the user is added to the database
4. If the user is not an admin, an error is raised

### Add a new user (admin only)

In [4]:
def adduser(user_id, name, phone, email, EID, admin):
    ## Grabs the row of information that connects to the user_id
    adminCheck = cursor.execute('''SELECT * FROM users WHERE user_id = ? ''', (user_id,))
    entry = cursor.fetchone()

    ## Checking that the user is an admin
    if entry[5] == 1: 
        sql = "INSERT INTO users(name, phone, email, EID, admin) VALUES(?, ?, ?, ?, ?)"
        cursor.execute(sql, (name, phone, email, EID, admin))
        db.commit()
        return('New user added')
    else:
        raise Exception('ERROR: Not an admin') 

    
adduser(2, 'Bob', '222-222-222', 'bobthebuilder@gmail.com', '1997-01-11', 0)


print(pd.read_sql_query("SELECT * FROM users", db))

   user_id   name         phone                    email         EID  admin
0        1    Joe  222-333-4444           joe2@email.com     ds39547      0
1        2  Jamie   111-111-111       jamielee@email.com     ds39548      1
2        3    Bob   222-222-222  bobthebuilder@gmail.com  1997-01-11      0

## Adding a venue ## 

### Parameters: ###
1. **user_id**: id of the user (primary key)
2. **bldg_code**: building code of the building (should be 3 letters)
3. **floor_num**: floor of the room
4. **room_num**: number of the room
5. **room_capacity**: how many people can fit in the room

### Sequence: ###
1. Using the user_id, the function fetches the information of that entry 
2. With that info, the function is able to determine if the user is an admin or not
3. If the user is an admin, the venue is added to the database
4. If the user is not an admin, an error is raised

In [8]:
## Adding a venue
## TODO: Find a way to make this admin only

def addvenue(user_id, bldg_code, floor_num, room_num, room_capacity):
    ## Grabs the row of information that connects to the user_id
    adminCheck = cursor.execute('''SELECT * FROM users WHERE user_id = ? ''', (user_id,))
    entry = cursor.fetchone()

    ## Checking that the user is an admin
    if entry[5] == 1: 
        sql = "INSERT INTO venues(bldg_code, floor_num, room_num, room_capacity) VALUES(?, ?, ?, ?)"
        cursor.execute(sql, (bldg_code, floor_num, room_num, room_capacity))
        db.commit()
        return('New venue added')
    else:
        raise Exception('ERROR: Not an admin') 

addvenue(2, 'CBA', 4, 211, 40)


print(pd.read_sql_query("SELECT * FROM venues", db))

   venue_id bldg_code  floor_num  room_num  room_capacity open_time  \
0         1       PCL          3       104             30     07:00
1         2       CBA          4       211             40      None
2         3       CBA          4       211             40      None

  close_time time_id
0      21:00    None
1       None    None
2       None    None

## Start an Event ## 

### Parameters: ###

### Sequence: ###

In [9]:
## start an event
from datetime import datetime, timedelta


def addevent(name, description, expected_attendance, venue_id, event_owner, time_id, start_time):
    cursor = db.cursor()
    venueCheck = cursor.execute('''SELECT * FROM venues WHERE venue_id = ? ''', (venue_id,))
    entry = cursor.fetchone()
    
    if expected_attendance < int(entry[4]): 
        sql = "INSERT INTO events(name, description, expected_attendance, venue_id, event_owner, time_id, start_time) VALUES(?, ?, ?, ?, ?, ?, ?)"
        cursor = db.cursor()
        cursor.execute(sql, (name, description, expected_attendance, venue_id, event_owner, time_id, start_time))
        return('New event added')
    else:
        raise Exception('ERROR: Room capacity exceeded') 


addevent('test', 'a test of the system', 20, 1, 1, 1, "08:00")
addevent('test1', 'a test of the system', 21, 1, 1, 1, "09:00")
addevent('test2', 'a test of the system', 22, 1, 1, 1, "10:00")

print(pd.read_sql_query("SELECT * FROM events", db))

   event_id   name           description  expected_attendance  venue_id  \
0         1   test  a test of the system                   20         1
1         2  test1  a test of the system                   21         1
2         3  test2  a test of the system                   22         1

   event_owner  time_id start_time
0            1        1      08:00
1            1        1      09:00
2            1        1      10:00

In [ ]:
print(pd.read_sql_query("SELECT * FROM confirmedEvents", db))

### Display timeslot availability at a venue

In [6]:
#Trying to figure out timeslots
from datetime import datetime, timedelta
import pandas as pd

def datetime_range(start, end, delta):
    while start < end:
        yield start
        start += delta

sql_time = "Select start_time FROM events"
sql_time2 = "Select event_time FROM events"

for row in cursor.execute(sql_time):
    dts =[]
    start = (pd.to_datetime(row));
    dts += [dt.strftime('%Y-%m-%d %H:%M') for dt in 
           datetime_range(start , datetime(2016, 9, 1, 9+12), 
           timedelta(minutes=60))]
    print(dts)

In [ ]:
def free_timeslot()

## Remove an Event Admin Only## 

### Parameters: ###

### Sequence: ###

In [10]:
def remove_event(user_id, event_id):
    ## Grabs the row of information that connects to the user_id
    adminCheck = cursor.execute('''SELECT * FROM users WHERE user_id = ? ''', (user_id,))
    entry = cursor.fetchone()

    ## Checking that the user is an admin
    if entry[5] == 1: 
        sql = ('''DELETE FROM events WHERE event_id = ?''')
        cursor.execute(sql, (event_id,))
        db.commit()
        return('Event deleted')
    else:
        raise Exception('ERROR: Not an admin') 

remove_event(2,2)

print(pd.read_sql_query("SELECT * FROM events", db))

   event_id   name           description  expected_attendance  venue_id  \
0         1   test  a test of the system                   20         1
1         3  test2  a test of the system                   22         1

   event_owner  time_id start_time
0            1        1      08:00
1            1        1      10:00

In [12]:
import datetime

start_time = '00:00'
end_time = '23:00'
slot_time = 60

# Start date from today to next 5 day
start_date = datetime.datetime.now().date()
end_date = datetime.datetime.now().date() + datetime.timedelta(days=7)

days = []
date = start_date
while date <= end_date:
    hours = []
    time = datetime.datetime.strptime(start_time, '%H:%M')
    end = datetime.datetime.strptime(end_time, '%H:%M')
    while time <= end:
        hours.append(time.strftime("%H:%M"))
        time += datetime.timedelta(minutes=slot_time)
    date += datetime.timedelta(days=1)
    days.append(hours)
    
for time in hours:
    cursor.execute("INSERT INTO Time(timeslot) values (?)", (time,))
    


def adding(name, description, expected_attendance, venue_id, event_owner, time_id, start_time):
    cursor = db.cursor()
    venueCheck = cursor.execute('''SELECT * FROM venues WHERE venue_id = ? ''', (venue_id,))
    entry = cursor.fetchone()
    
    if expected_attendance < int(entry[4]): 
        sql = "INSERT INTO events( name, description, expected_attendance, venue_id, event_owner, time_id, start_time) VALUES(?, ?, ?, ?, ?, ?, ?)"
        cursor = db.cursor()
        cursor.execute(sql, (name, description, expected_attendance, venue_id, event_owner, time_id, start_time))
        
        updateTime = "UPDATE Time SET event_id = ?, venue_id = ? WHERE Timeslot = ?"
        cursor.execute(updateTime,(venue_id, start_time))
        return('New event added')
    else:
        raise Exception('ERROR: Room capacity exceeded')
    
adding('tdfda', 'a tefdae system', 20, 1, 1, 1, "08:00")
adding('dfadf1', 'a test dafs system', 21, 1, 1, 1, "09:00")
adding('fda', 'a test ofda system', 22, 1, 1, 1, "10:00")

print(pd.read_sql_query("SELECT * FROM Time", db))

    time_id event_id  venue_id timeslot
0         1     None       NaN    00:00
1         2     None       NaN    01:00
2         3     None       NaN    02:00
3         4     None       NaN    03:00
4         5     None       NaN    04:00
5         6     None       NaN    05:00
6         7     None       NaN    06:00
7         8     None       NaN    07:00
8         9     None       1.0    08:00
9        10     None       1.0    09:00
10       11     None       1.0    10:00
11       12     None       NaN    11:00
12       13     None       NaN    12:00
13       14     None       NaN    13:00
14       15     None       NaN    14:00
15       16     None       NaN    15:00
16       17     None       NaN    16:00
17       18     None       NaN    17:00
18       19     None       NaN    18:00
19       20     None       NaN    19:00
20       21     None       NaN    20:00
21       22     None       NaN    21:00
22       23     None       NaN    22:00
23       24     None       NaN    23:00
24       25     None       NaN    00:00
25       26     None       NaN    01:00
26       27     None       NaN    02:00
27       28     None       NaN    03:00
28       29     None       NaN    04:00
29       30     None       NaN    05:00
30       31     None       NaN    06:00
31       32     None       NaN    07:00
32       33     None       1.0    08:00
33       34     None       1.0    09:00
34       35     None       1.0    10:00
35       36     None       NaN    11:00
36       37     None       NaN    12:00
37       38     None       NaN    13:00
38       39     None       NaN    14:00
39       40     None       NaN    15:00
40       41     None       NaN    16:00
41       42     None       NaN    17:00
42       43     None       NaN    18:00
43       44     None       NaN    19:00
44       45     None       NaN    20:00
45       46     None       NaN    21:00
46       47     None       NaN    22:00
47       48     None       NaN    23:00