# Project 1 - Room Booking App #
### Dhrov Subramanian & Yeggi Lee ###

## Creating the tables ##

1. users
2. venues
3. events
4. confirmedEvents

In [1]:
import sqlite3

#db=sqlite3.connect("/Users/ylee/Desktop/sqlite/test.db")
db=sqlite3.connect("/sqlite3/test.db")
cursor = db.cursor()

cursor.execute('''
    DROP TABLE IF EXISTS users''');
cursor.execute('''
    DROP TABLE IF EXISTS venues''');
cursor.execute('''
    DROP TABLE IF EXISTS events''');
cursor.execute('''
    DROP TABLE IF EXISTS confirmedEvents''');

#Make email unique after testing please
cursor.execute('''
    CREATE TABLE users(
                       user_id INTEGER PRIMARY KEY, 
                       name TEXT,
                       phone TEXT, 
                       email TEXT UNIQUE, 
                       dob DATE,
                       admin BOOLEAN)
''');

cursor.execute('''
    CREATE TABLE venues(
                        venue_id INTEGER PRIMARY KEY, 
                        bldg_code TEXT,
                        floor_num INTEGER,
                        room_num INTEGER, 
                        room_capacity INTEGER,
                        open_time TEXT,
                        close_time TEXT)
''');

cursor.execute('''
    CREATE TABLE events(
                        event_id INTEGER PRIMARY KEY, 
                        name TEXT, 
                        description TEXT, 
                        start_time TIMESTAMP,
                        event_time INTEGER, 
                        capacity INTEGER, 
                        venue_id INTEGER,
                        event_owner INTEGER,
                        CONSTRAINT 
                            fk_venues FOREIGN KEY (venue_id) 
                            REFERENCES venues(venue_id),
                        CONSTRAINT 
                            fk_users FOREIGN KEY (event_owner) 
                            REFERENCES users(user_id))
                   
''');

cursor.execute('''
    CREATE TABLE confirmedEvents(
                                 confirmedEvents_id INTEGER PRIMARY KEY, 
                                 event_id INTEGER, user_id INTEGER,
                                 CONSTRAINT 
                                     fk_events FOREIGN KEY (event_id) 
                                     REFERENCES events(event_id),
                                 CONSTRAINT 
                                     fk_users FOREIGN KEY (user_id) 
                                     REFERENCES users(user_id))
''');

db.commit()

In the section below, we're adding test subjects to check that the tables are working correctly.

In [2]:
import datetime
dob1 = datetime.date(1991, 1,1)

cursor.execute('''INSERT INTO users(name, phone, email, dob, admin)
                  VALUES(:name,:phone, :email, :dob, :admin)''',
                  {'name':'Joe', 'phone':'222-333-4444', 'email':'joe2@email.com', 'dob':datetime.date(1992, 2,2),'admin': 2 })

cursor.execute('''INSERT INTO users(name, phone, email, dob, admin)
                  VALUES(:name,:phone, :email, :dob, :admin)''',
                  {'name':'Jamie', 'phone':'111-111-111', 'email':'jamielee@email.com', 'dob':datetime.date(1996, 7,12),'admin': 1})

cursor.execute('''INSERT INTO venues(bldg_code, floor_num, room_num, room_capacity, open_time, close_time)
                  VALUES(:bldg_code, :floor_num, :room_num, :room_capacity, :open_time, :close_time)''',
                  {'bldg_code':'PCL', 'floor_num':'3','room_num':'104', 'room_capacity':'30', 'open_time':'07:00', 'close_time':'21:00'})

In [3]:
#To print out all elements in the users table
for row in cursor.execute('''SELECT * FROM users'''):
    print(row)
    
for row in cursor.execute('''SELECT * FROM venues'''):
    print(row)
    
for row in cursor.execute('''SELECT * FROM events'''):
    print(row)

(1, 'Joe', '222-333-4444', 'joe2@email.com', '1992-02-02', 2)
(2, 'Jamie', '111-111-111', 'jamielee@email.com', '1996-07-12', 1)
(1, 'PCL', 3, 104, 30, '07:00', '21:00')

## Adding a user ## 

### Parameters: ###
1. **db**: database
2. **name**: name of the user
3. **phone**: phone of the user
4. **email**: email of the user (must be unique)
5. **dob**: date of birth
6. **admin**: checks whether the user is an admin or not

### Add a new user (admin only)

In [4]:
#where is the 2 coming from?

def adduser(user_id, name, phone, email, dob, admin):
    ## Grabs the row of information that connects to the user_id
    adminCheck = cursor.execute('''SELECT * FROM users WHERE user_id = ? ''', (user_id,))
    entry = cursor.fetchone()

    ## Checking that the user is an admin
    print (entry[5])
    if entry[5] == 1: 
        sql = "INSERT INTO users(name, phone, email, dob, admin) VALUES(?, ?, ?, ?, ?)"
        cursor.execute(sql, (name, phone, email, dob, admin))
        db.commit()
        return('New user added')
    else:
        raise Exception('ERROR: Not an admin') 

    
adduser(1, 'BOB', '222-222-222', 'bobthebuilder@gmail.com', '1997-01-11', 1)


for row in cursor.execute('''SELECT * FROM users'''):
    print(row)

2

Exception: ERROR: Not an admin

### Add a new venue (admin only)

In [5]:
## Adding a venue
## TODO: Find a way to make this admin only

def addvenue(db, bldg_code, floor_num, room_num, room_capacity, open_time, close_time):
    sql = "INSERT INTO venues(bldg_code, floor_num, room_num, room_capacity, open_time, close_time) VALUES(?, ?, ?, ?, ?, ?)"
    cursor = db.cursor()
    cursor.execute(sql, (bldg_code, floor_num, room_num, room_capacity, open_time, close_time))
    return "boot"

addvenue(db, 'CBA', 2, 111, 20, '07:00', '19:00')

for row in cursor.execute('''SELECT * FROM venues'''):
    print(row)

(1, 'PCL', 3, 104, 30, '07:00', '21:00')
(2, 'CBA', 2, 111, 20, '07:00', '19:00')

### Start an event (user or admin on behalf of a user)

In [21]:
## start an event
from datetime import datetime, timedelta
'''
    sql_Vcapacity = "Select room_capacity FROM venues WHERE venues.venue_id = event.venue_id"
    if capacity > int(sql_Vcapacity):
        sql = "INSERT INTO events(name, description, start_time, event_time, capacity, venue_id, event_owner) VALUES(?, ?, ?, ?, ?, ?, ?)"
        cursor = db.cursor()
        cursor.execute(sql, (name, description, start_time, event_time, capacity, venue_id, event_owner))
        return('New event added')
    else:
        raise Exception('ERROR: Room capacity exceeded')    
'''

def addevent(db, name, description, start_time, event_time, capacity, venue_id, event_owner):
    sql = "INSERT INTO events(name, description, start_time, event_time, capacity, venue_id, event_owner) VALUES(?, ?, ?, ?, ?, ?, ?)"
    cursor = db.cursor()
    cursor.execute(sql, (name, description, start_time, event_time, capacity, venue_id, event_owner))
    return "boot"

addevent(db, 'test', 'a test of the system', datetime(2016, 9, 1, 8), 2,  30, 1, 2)

for row in cursor.execute('''SELECT * FROM events'''):
    print(row)

(1, 'test', 'a test of the system', '2016-09-01 07:00:00', 2, 30, 1, 2)
(2, 'test', 'a test of the system', '2016-09-01 08:00:00', 2, 30, 1, 2)

In [8]:
for row in cursor.execute('''SELECT * FROM confirmedEvents'''):
    print(row)

### Display timeslot availability at a venue

In [28]:
#Trying to figure out timeslots
from datetime import datetime, timedelta
import pandas as pd

def datetime_range(start, end, delta):
    while start < end:
        yield start
        start += delta

sql_time = "Select start_time FROM events"
sql_time2 = "Select event_time FROM events"

for row in cursor.execute(sql_time):
    dts =[]
    start = (pd.to_datetime(row));
    dts += [dt.strftime('%Y-%m-%d %H:%M') for dt in 
           datetime_range(start , datetime(2016, 9, 1, 9+12), 
           timedelta(minutes=60))]
    print(dts)

[Index(['2016-09-01 07:00'], dtype='object'), Index(['2016-09-01 08:00'], dtype='object'), Index(['2016-09-01 09:00'], dtype='object'), Index(['2016-09-01 10:00'], dtype='object'), Index(['2016-09-01 11:00'], dtype='object'), Index(['2016-09-01 12:00'], dtype='object'), Index(['2016-09-01 13:00'], dtype='object'), Index(['2016-09-01 14:00'], dtype='object'), Index(['2016-09-01 15:00'], dtype='object'), Index(['2016-09-01 16:00'], dtype='object'), Index(['2016-09-01 17:00'], dtype='object'), Index(['2016-09-01 18:00'], dtype='object'), Index(['2016-09-01 19:00'], dtype='object'), Index(['2016-09-01 20:00'], dtype='object')]
[Index(['2016-09-01 08:00'], dtype='object'), Index(['2016-09-01 09:00'], dtype='object'), Index(['2016-09-01 10:00'], dtype='object'), Index(['2016-09-01 11:00'], dtype='object'), Index(['2016-09-01 12:00'], dtype='object'), Index(['2016-09-01 13:00'], dtype='object'), Index(['2016-09-01 14:00'], dtype='object'), Index(['2016-09-01 15:00'], dtype='object'), Index(['2016-09-01 16:00'], dtype='object'), Index(['2016-09-01 17:00'], dtype='object'), Index(['2016-09-01 18:00'], dtype='object'), Index(['2016-09-01 19:00'], dtype='object'), Index(['2016-09-01 20:00'], dtype='object')]

In [19]:
sql_time = "Select open_time FROM venues"
sql_time2 = "Select close_time FROM venues" 

for row in cursor.execute(sql_time):
    start = datetime.strptime(row, "%H:%M");
    print (start)

TypeError: strptime() argument 1 must be str, not tuple