# Project 1 - Room Booking App #
### Dhrov Subramanian & Yeggi Lee ###

## 0. Creating the tables ##

1. users
2. venues
3. events
4. confirmedEvents
5. Time

In [1]:
import sqlite3
import pandas as pd

#db=sqlite3.connect("/Users/ylee/Desktop/sqlite/test.db")
db=sqlite3.connect("/sqlite3/test.db")
cursor = db.cursor()

cursor.execute('''
    DROP TABLE IF EXISTS users''');
cursor.execute('''
    DROP TABLE IF EXISTS venues''');
cursor.execute('''
    DROP TABLE IF EXISTS events''');
cursor.execute('''
    DROP TABLE IF EXISTS confirmedEvents''');
cursor.execute('''
    DROP TABLE IF EXISTS Time''');

cursor.execute('''
    CREATE TABLE users(
                       user_id INTEGER PRIMARY KEY, 
                       name TEXT,
                       phone TEXT, 
                       email TEXT UNIQUE, 
                       EID TEXT UNIQUE,
                       admin BOOLEAN)
''');

cursor.execute('''
    CREATE TABLE venues(
                        venue_id INTEGER PRIMARY KEY, 
                        bldg_code TEXT,
                        floor_num INTEGER,
                        room_num INTEGER, 
                        room_capacity INTEGER,
                        open_time TEXT,
                        close_time TEXT,
                        time_id INTEGER,
                        CONSTRAINT 
                             fk_events FOREIGN KEY (time_id) 
                             REFERENCES time(time_id))
''');

cursor.execute('''
    CREATE TABLE events(
                        event_id INTEGER PRIMARY KEY, 
                        name TEXT, 
                        description TEXT,  
                        expected_attendance INTEGER,
                        current_attendance INTEGER,
                        venue_id INTEGER,
                        event_owner INTEGER,
                        time_id INTEGER,
                        start_time TEXT,
                        CONSTRAINT 
                             fk_events FOREIGN KEY (time_id) 
                             REFERENCES time(time_id),
                        CONSTRAINT 
                            fk_venues FOREIGN KEY (venue_id) 
                            REFERENCES venues(venue_id),
                        CONSTRAINT 
                            fk_users FOREIGN KEY (event_owner) 
                            REFERENCES users(user_id))
                   
''');

cursor.execute('''
    CREATE TABLE confirmedEvents(
                                 confirmedEvents_id INTEGER PRIMARY KEY, 
                                 event_id INTEGER, user_id INTEGER,
                                 CONSTRAINT 
                                     fk_events FOREIGN KEY (event_id) 
                                     REFERENCES events(event_id),
                                 CONSTRAINT 
                                     fk_users FOREIGN KEY (user_id) 
                                     REFERENCES users(user_id))
''');

cursor.execute('''
    CREATE TABLE Time(
                       time_id INTEGER PRIMARY KEY, 
                       event_id INTEGER, 
                       venue_id INTEGER,
                       timeslot TEXT,
                         CONSTRAINT 
                             fk_events FOREIGN KEY (event_id) 
                             REFERENCES events(event_id),
                         CONSTRAINT 
                             fk_users FOREIGN KEY (venue_id) 
                             REFERENCES venue(venue_id))
''');

db.commit()

In the section below, we're adding test subjects to check that the tables are working correctly.

In [2]:
# import datetime
# dob1 = datetime.date(1991, 1,1)

cursor.execute('''INSERT INTO users(name, phone, email, EID, admin)
                  VALUES(:name,:phone, :email, :EID, :admin)''',
                  {'name':'Joe', 'phone':'222-333-4444', 'email':'joe2@email.com', 'EID': 'ds39547','admin': 0 })

cursor.execute('''INSERT INTO users(name, phone, email, EID, admin)
                  VALUES(:name,:phone, :email, :EID, :admin)''',
                  {'name':'Jamie', 'phone':'111-111-111', 'email':'jamielee@email.com', 'EID': 'ds39548' ,'admin': 1})

# cursor.execute('''INSERT INTO venues(bldg_code, floor_num, room_num, room_capacity, open_time, close_time)
#                   VALUES(:bldg_code, :floor_num, :room_num, :room_capacity, :open_time, :close_time)''',
#                   {'bldg_code':'PCL', 'floor_num':'3','room_num':'104', 'room_capacity':'30', 'open_time':'07:00', 'close_time':'21:00'})

In [3]:
#To print out all elements in the users table
for row in cursor.execute('''SELECT * FROM users'''):
    print(row)
    
for row in cursor.execute('''SELECT * FROM venues'''):
    print(row)
    
for row in cursor.execute('''SELECT * FROM events'''):
    print(row)

(1, 'Joe', '222-333-4444', 'joe2@email.com', 'ds39547', 0)
(2, 'Jamie', '111-111-111', 'jamielee@email.com', 'ds39548', 1)

## I. Adding a user ## 

### Parameters: ###
1. **db**: database
2. **name**: name of the user
3. **phone**: phone of the user
4. **email**: email of the user (must be unique)
5. **EID**: EID of the user
6. **admin**: checks whether the user is an admin or not (0 = False, 1 = True)

### Sequence: ###
1. Using the user_id, the function fetches the information of that entry 
2. With that info, the function is able to determine if the user is an admin or not
3. If the user is an admin, the user is added to the database
4. If the user is not an admin, an error is raised

In [4]:
def adduser(user_id, name, phone, email, EID, admin):
    ## Grabs the row of information that connects to the user_id
    adminCheck = cursor.execute('''SELECT * FROM users WHERE user_id = ? ''', (user_id,))
    entry = cursor.fetchone()

    ## Checking that the user is an admin
    if entry[5] == 1: 
        sql = "INSERT INTO users(name, phone, email, EID, admin) VALUES(?, ?, ?, ?, ?)"
        cursor.execute(sql, (name, phone, email, EID, admin))
        db.commit()
        return('New user added')
    else:
        raise Exception('ERROR: Not an admin') 

    
adduser(2, 'Bob', '222-222-222', 'bobthebuilder@gmail.com', '1997-01-11', 0)


print(pd.read_sql_query("SELECT * FROM users", db))

   user_id   name         phone                    email         EID  admin
0        1    Joe  222-333-4444           joe2@email.com     ds39547      0
1        2  Jamie   111-111-111       jamielee@email.com     ds39548      1
2        3    Bob   222-222-222  bobthebuilder@gmail.com  1997-01-11      0

## II. Adding a venue ## 

### Parameters: ###
1. **user_id**: id of the user (primary key)
2. **bldg_code**: building code of the building (should be 3 letters)
3. **floor_num**: floor of the room
4. **room_num**: number of the room
5. **room_capacity**: how many people can fit in the room

### Sequence: ###
1. Using the user_id, the function fetches the information of that entry 
2. With that info, the function is able to determine if the user is an admin or not

NEEDS BETTER EXPLAINING HELP 

3. If the user is an admin, the venue is added to the database and that venue_id is added to the time table
4. If the user is not an admin, an error is raised

In [5]:
## Adding a venue
## TODO: Find a way to make this admin only
import datetime

def addvenue(user_id, bldg_code, floor_num, room_num, room_capacity):
    start_time = '00:00'
    end_time = '23:00'
    slot_time = 60

    start_date = datetime.datetime.now().date()
    end_date = datetime.datetime.now().date() + datetime.timedelta(days=1)

    days = []
    date = start_date
   
    while date <= end_date:
        hours = []
        time = datetime.datetime.strptime(start_time, '%H:%M')
        end = datetime.datetime.strptime(end_time, '%H:%M')
        
        while time <= end:
            hours.append(time.strftime("%H:%M"))
            time += datetime.timedelta(minutes=slot_time)
        date += datetime.timedelta(days=1)
        days.append(hours)
        
    ## Grabs the row of information that connects to the user_id
    adminCheck = cursor.execute('''SELECT * FROM users WHERE user_id = ? ''', (user_id,))
    entry = cursor.fetchone()

    ## Checking that the user is an admin
    if entry[5] == 1: 
        sql = "INSERT INTO venues(bldg_code, floor_num, room_num, room_capacity) VALUES(?, ?, ?, ?)"
        cursor.execute(sql, (bldg_code, floor_num, room_num, room_capacity))
        
        venue = cursor.lastrowid
        
        for time in hours:
            cursor.execute("INSERT INTO Time(venue_id, timeslot) values (?,?)", (venue,time,))
        db.commit()
        return('New venue added')
    else:
        raise Exception('ERROR: Not an admin') 

addvenue(2, 'CBA', 4, 211, 40)
addvenue(2, 'PCL', 6, 100, 50)


print(pd.read_sql_query("SELECT * FROM venues", db))

   venue_id bldg_code  floor_num  room_num  room_capacity open_time  \
0         1       CBA          4       211             40      None
1         2       PCL          6       100             50      None

  close_time time_id
0       None    None
1       None    None

## III. Start an Event ## 

### Parameters: ###
1. **name**: name of the event
2. **description**: description of the event
3. **expected_attendance**: expected amount of people to show up to the event
4. **venue_id**: id of the venue
5. **event_owner**: CURRENTLY is USER_ID but should be EID of the event_owner (!!!!!!!!!!!!)
6. **start_time**: time the event is expected to start

### Sequence: ###
1. The function grabs the row information from the inputted venue_id 
2. Then, it checks whether the event expected attendance is within the limits of the room capacity
3. If it passes, then it also checks that the room wasn't already booked
4. If both the checks are passed, the event is added into the events table, and the time table is updated to include this new event in the appropriate timeslot & venue

In [6]:
## start an event
from datetime import datetime, timedelta

def add_event(name, description, expected_attendance, venue_id, event_owner, start_time):
    cursor = db.cursor()
    adminCheck = cursor.execute('''SELECT * FROM venues WHERE venue_id = ? ''', (venue_id,))
    entry = cursor.fetchone()
    
    if expected_attendance < int(entry[4]):  
        venueCheck = cursor.execute('''SELECT * FROM Time WHERE venue_id = ? AND timeslot = ?''', (venue_id, start_time,))
        timeEntry = cursor.fetchone()
        print(timeEntry)
        
        if timeEntry[1] is None: 
            sql = "INSERT INTO events(name, description, expected_attendance, venue_id, event_owner, start_time) VALUES(?, ?, ?, ?, ?, ?)"
            cursor = db.cursor()
            cursor.execute(sql, (name, description, expected_attendance, venue_id, event_owner, start_time))

            updateTime = "UPDATE Time SET event_id = ? WHERE timeslot = ? and venue_id = ? "
            updateCount = "UPDATE Time SET current_attendance = 1"

            cursor.execute(updateTime,(cursor.lastrowid, start_time, venue_id))
            cursor.execute(updateCount)
            return('New event added')
        else:
            raise Exception('Error: Room already booked for that time')
    else:
        raise Exception('ERROR: Room capacity exceeded')
    
add_event('tdfda', 'a tefdae system', 20, 2, 1, "12:00")


print(pd.read_sql_query("SELECT * FROM events", db))

(37, None, 2, '12:00')
   event_id   name      description  expected_attendance  venue_id  \
0         1  tdfda  a tefdae system                   20         2

   event_owner time_id start_time
0            1    None      12:00

## IV. Display timeslot availability at a venue ##

### Parameters: ###
1. **venue**: venue_id of the room user is booking

### Sequence: ###
1. Function calls all time slots in which the event_id is empty and inputted venue_id is available
2. Function then prints out the available timeslots in that particular venue

In [27]:
df  =pd.read_sql_query("SELECT * FROM Time", db)
df

    time_id  event_id  venue_id timeslot
0         1       NaN         1    00:00
1         2       NaN         1    01:00
2         3       NaN         1    02:00
3         4       NaN         1    03:00
4         5       NaN         1    04:00
5         6       NaN         1    05:00
6         7       NaN         1    06:00
7         8       NaN         1    07:00
8         9       NaN         1    08:00
9        10       NaN         1    09:00
10       11       NaN         1    10:00
11       12       NaN         1    11:00
12       13       NaN         1    12:00
13       14       NaN         1    13:00
14       15       NaN         1    14:00
15       16       NaN         1    15:00
16       17       NaN         1    16:00
17       18       NaN         1    17:00
18       19       NaN         1    18:00
19       20       NaN         1    19:00
20       21       NaN         1    20:00
21       22       NaN         1    21:00
22       23       NaN         1    22:00
23       24       NaN         1    23:00
24       25       NaN         2    00:00
25       26       NaN         2    01:00
26       27       NaN         2    02:00
27       28       NaN         2    03:00
28       29       NaN         2    04:00
29       30       NaN         2    05:00
30       31       NaN         2    06:00
31       32       NaN         2    07:00
32       33       NaN         2    08:00
33       34       NaN         2    09:00
34       35       NaN         2    10:00
35       36       NaN         2    11:00
36       37       1.0         2    12:00
37       38       NaN         2    13:00
38       39       NaN         2    14:00
39       40       NaN         2    15:00
40       41       NaN         2    16:00
41       42       NaN         2    17:00
42       43       NaN         2    18:00
43       44       NaN         2    19:00
44       45       NaN         2    20:00
45       46       NaN         2    21:00
46       47       NaN         2    22:00
47       48       NaN         2    23:00

In [29]:
def freeTimeAtVenue(venue):
    sql =  "SELECT Timeslot FROM Time WHERE event_id is null AND venue_id = ?"
    cursor.execute (sql, (venue,))
    row = cursor.fetchall()
    num = list(sum(row, ()))
    print ("Free times for this venue are:")
    print (num)

     
freeTimeAtVenue(1)

Free times for this venue are:
['00:00', '01:00', '02:00', '03:00', '04:00', '05:00', '06:00', '07:00', '08:00', '09:00', '10:00', '11:00', '12:00', '13:00', '14:00', '15:00', '16:00', '17:00', '18:00', '19:00', '20:00', '21:00', '22:00', '23:00']

## V. Display all venues where a particular timeslot is available ##

### Parameters: ###
1. **time**: timeslot that user wants to find available venues for

### Sequence: ###
1. Function calls all venue_ids in which the event_id is empty and inputted time_slot is available
2. Function then prints out the available venues in that particular timeslot

In [20]:
def freeVenueAtTime(time):
    sql =  "SELECT venue_id FROM Time WHERE event_id is null AND timeslot = ?"
    cursor.execute(sql, (time,) )
    row = cursor.fetchall()
    num = list(sum(row, ()))
    print ("Venues that are free at this time are:")
    #return (num)
    for element in num:
        sql1 = "SELECT bldg_code, floor_num, room_num FROM venues WHERE venue_id = ?"
        cursor.execute(sql1, (element,) )
        row1 = cursor.fetchall()
        num1 = list(sum(row1, ()))
        print (num1)

freeVenueAtTime('10:00')

Venues that are free at this time are:
['CBA', 4, 211]
['PCL', 6, 100]

## VI. List events at a venue given date/time## 

### Parameters: ###

### Sequence: ###

In [21]:
def listedEvents(venue, time):
    sql =  "SELECT event_id FROM Time WHERE venue_id = ? AND timeslot = ?"
    cursor.execute(sql, (venue, time,) )
    row = cursor.fetchall()
    num = list(sum(row, ()))
    print ("Events in %i at %s:" % (venue,time))
    for element in num:
        sql1 = "SELECT name FROM events WHERE event_id = ?"
        cursor.execute(sql1, (element,) )
        row1 = cursor.fetchall()
        num1 = list(sum(row1, ()))
        print (num1)

listedEvents(2, "12:00")

Events in 2 at 12:00:
['tdfda']

## VII. User joins an event ## 

### Parameters: ###

### Sequence: ###

In [ ]:
def joinEvent(user, event_id):
    sql = "SELECT user_id FROM users WHERE EID = ?"
    id = cursor.execute(sql, (user,) )

## VIII. Remove an Event Admin Only## 

### Parameters: ###

### Sequence: ###

In [13]:
def remove_event(user_id, event_id):
    ## Grabs the row of information that connects to the user_id
    adminCheck = cursor.execute('''SELECT * FROM users WHERE user_id = ? ''', (user_id,))
    entry = cursor.fetchone()

    ## Checking that the user is an admin
    if entry[5] == 1: 
        sql = ('''DELETE FROM events WHERE event_id = ?''')
        cursor.execute(sql, (event_id,))
        db.commit()
        return('Event deleted')
    else:
        raise Exception('ERROR: Not an admin') 

remove_event(2,2)

df = pd.read_sql_query("SELECT * FROM events", db)
df

,event_id,name,description,expected_attendance,venue_id,event_owner,time_id,start_time
0,1,tdfda,a tefdae system,20,2,1,None,12:00