# Project 1 - Room Booking App #
### Dhrov Subramanian & Yeggi Lee ###

This section connects to the database and creates the following tables:
- users
- venues
- events
- confirmedEvents

In [1]:
import sqlite3
db=sqlite3.connect("/Users/ylee/Desktop/sqlite/test.db")
cursor = db.cursor()

cursor.execute('''
    DROP TABLE IF EXISTS users''');
cursor.execute('''
    DROP TABLE IF EXISTS venues''');
cursor.execute('''
    DROP TABLE IF EXISTS events''');
cursor.execute('''
    DROP TABLE IF EXISTS confirmedEvents''');

#Make email unique after testing please
cursor.execute('''
    CREATE TABLE users(
                       user_id INTEGER PRIMARY KEY, 
                       name TEXT,
                       phone TEXT, 
                       email TEXT, 
                       dob DATE,
                       admin BOOLEAN)
''');

cursor.execute('''
    CREATE TABLE venues(
                        venue_id INTEGER PRIMARY KEY, 
                        bldg_code TEXT,
                        floor_num INTEGER,
                        room_num INTEGER, 
                        room_capacity INTEGER)
''');

cursor.execute('''
    CREATE TABLE events(
                        event_id INTEGER PRIMARY KEY, 
                        name TEXT, 
                        description TEXT, 
                        start_time TIMESTAMP,
                        end_time TIMESTAMP, 
                        capacity INTEGER, 
                        venue_id INTEGER,
                        event_owner INTEGER,
                        CONSTRAINT 
                            fk_venues FOREIGN KEY (venue_id) 
                            REFERENCES venues(venue_id),
                        CONSTRAINT 
                            fk_users FOREIGN KEY (event_owner) 
                            REFERENCES users(user_id))
                   
''');

cursor.execute('''
    CREATE TABLE confirmedEvents(
                                 confirmedEvents_id INTEGER PRIMARY KEY, 
                                 event_id INTEGER, user_id INTEGER,
                                 CONSTRAINT 
                                     fk_events FOREIGN KEY (event_id) 
                                     REFERENCES events(event_id),
                                 CONSTRAINT 
                                     fk_users FOREIGN KEY (user_id) 
                                     REFERENCES users(user_id))
''');

db.commit()

In the section below, we're adding test subjects to check that the tables are working correctly.

In [2]:
import datetime
dob1 = datetime.date(1991, 1,1)

cursor.execute('''INSERT INTO users(name, phone, email, dob, admin)
                  VALUES(:name,:phone, :email, :dob, :admin)''',
                  {'name':'Joe', 'phone':'222-333-4444', 'email':'joe2@email.com', 'dob':datetime.date(1992, 2,2),'admin': True })

cursor.execute('''INSERT INTO venues(bldg_code, floor_num, room_num, room_capacity)
                  VALUES(:bldg_code, :floor_num, :room_num, :room_capacity)''',
                  {'bldg_code':'PCL', 'floor_num':'3','room_num':'104', 'room_capacity':'30'})

In [3]:
#To print out all elements in the users table
for row in cursor.execute('''SELECT * FROM users'''):
    print(row)
    
for row in cursor.execute('''SELECT * FROM venues'''):
    print(row)
    
for row in cursor.execute('''SELECT * FROM events'''):
    print(row)

(1, 'Joe', '222-333-4444', 'joe2@email.com', '1992-02-02', 1)
(1, 'PCL', 3, 104, 30)

In [4]:
## FUNCTIONS 

## Adding a user
## TODO: Find a way to make this admin only
## DHROV I KNOW HOW TO DO THIS I'LL DO IT :D 

def adduser(db, name, phone, email, dob, admin):
    sql = "INSERT INTO users(name, phone, email, dob, admin) VALUES(?, ?, ?, ?, ?)"
    cursor = db.cursor()
    cursor.execute(sql, (name, phone, email, dob, admin))
    return "woot"
    
adduser(db, 'James', '444-444-4444', 'jameslee@gmail.com', '1995-03-12', True)

##fetchone admin --> true/false
##raise exceptions --> email


## Adding a venue
## TODO: Find a way to make this admin only

def addvenue(db, bldg_code, floor_num, room_num, room_capacity):
    sql = "INSERT INTO venues(bldg_code, floor_num, room_num, room_capacity) VALUES(?, ?, ?, ?)"
    cursor = db.cursor()
    cursor.execute(sql, (bldg_code, floor_num, room_num, room_capacity))
    return "boot"

addvenue(db, 'CBA', 2, 111, 20)

for row in cursor.execute('''SELECT * FROM users'''):
    print(row)
    
for row in cursor.execute('''SELECT * FROM venues'''):
    print(row)

(1, 'Joe', '222-333-4444', 'joe2@email.com', '1992-02-02', 1)
(2, 'James', '444-444-4444', 'jameslee@gmail.com', '1995-03-12', 1)
(1, 'PCL', 3, 104, 30)
(2, 'CBA', 2, 111, 20)